---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import faqData from "@/data/faqData.json";
import testimonialData from "@/data/testimonialData.json";
import featuresData from "@/data/featuresData.json";
import { Icon } from "astro-icon";
import Accordion from "@/components/Accordion.astro";
import HomeBanner from "@/components/HomeBanner.astro";
import { MotionBTTContainer } from "@/components/motion/MotionBTTContainer";
import BadgeGroup from "@/components/badge/BadgeGroup.astro";
import BadgeMessage from "@/components/badge/BadgeMessage.astro";
import PageTitle from "@/components/PageTitle.astro";
import Content from "@/components/Content.astro";
import ContentImage from "@/components/ContentImage.astro";
import BadgeIcon from "@/components/badge/BadgeIcon.astro";
import CardGroup from "@/components/card/CardGroup.astro";
import Card from "@/components/card/Card.astro";
import CardBody from "@/components/card/CardBody.astro";
import CardImage from "@/components/card/CardImage.astro";
import CardHeader from "@/components/card/CardHeader.astro";
import Column from "@/components/Column.astro";
---

<Layout
    title="SmartShovel - Revolutionize Your Gardening Experience 🚀"
    description="Welcome to SmartShovel, the ultimate gardening companion powered by advanced technology. We've developed some groundbreaking features to transform your gardening into an efficient, enjoyable, and high-tech experience. Dive in and discover how:"
>
    <div class="main-wrapper bg-[#F3F5F8] relative z-10 pb-20 pt-20">
        <HomeBanner />
        <!-- Home Banner -->
        <SectionContainer
            class="components--container wrap wrap-px grid gap-8 sm:gap-24"
        >
            <SectionContainer id="features" class="features">
                <BadgeGroup alignment="center">
                    <BadgeMessage>Features</BadgeMessage>
                    <BadgeIcon icon="mdi:star-circle-outline" />
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    Revolutionize Your Gardening Experience with SmartShovel
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p>
                        Discover the future of gardening with SmartShovel, the innovative gardening tool designed to bring the power of technology straight to your backyard.    
                        Combining cutting-edge features like AI-powered soil analysis, customizable gardening settings, and real-time plant care advice, SmartShovel is more than just a tool – it's your personal gardening assistant. 
                        Whether you're a seasoned gardener looking to optimize your landscape or a beginner eager to see your garden thrive, SmartShovel offers a seamless, intuitive experience that makes gardening easier, more efficient, and a lot more enjoyable. 
                        Join us as we dig into the future of gardening with SmartShovel – where technology meets nature, and great gardens grow.
                    </p>
                </Content>
                <ContentImage contentImageData={featuresData} />
            </SectionContainer>
            <!-- Features -->
            <SectionContainer class="feature-tabs">
                <BadgeGroup alignment="center">
                    <BadgeMessage>More Features</BadgeMessage>
                    <BadgeIcon icon="twemoji:waving-hand" />
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    Master Your Gardening and Landscape Goals
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p>
                        Our cutting-edge tool is designed to empower you on your gardening journey. With user-friendly technology, customizable settings, and direct access to gardening wisdom, taking control of your landscape has never been easier.
                    </p>
                </Content>
                <CardGroup
                    class="grid scroll-m-24 gap-8 grid-cols-1 max-w-4xl mx-auto mt-24 md:grid-cols-2"
                >
                    <Card class="col-span-1 text-primary-900">
                        <CardBody class="w-full bg-white-600/20 p-12">
                            <CardImage
                                src="/images/features5.webp"
                                alt="Innovative Digging"
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Innovative Digging
                            </CardHeader>
                            <p>
                                Forget the days of guesswork in your garden! With SmartShovel, preparing your soil becomes effortlessly precise. Our AI-powered tool assesses soil quality, moisture levels, and recommends the perfect spots for planting. Enjoy a thriving garden with the tech-savvy edge.
                            </p>
                        </CardBody>
                    </Card>
                    <Card class="col-span-1 text-primary-900">
                        <CardBody class="w-full bg-white-600/20 p-12">
                            <CardImage
                                src="/images/features6.webp"
                                alt="Seamless Plant Care"
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Seamless Plant Care
                            </CardHeader>
                            <p>
                                Our technology doesn't stop at digging. SmartShovel comes with a built-in Plant Care Guide. As you plant, receive instant tips on care, watering schedules, and optimal sunlight exposure. It's like having a botanist in your back pocket, ensuring your plants not only survive but thrive.
                            </p>
                        </CardBody>
                    </Card>
                </CardGroup>
            </SectionContainer>
            <!-- More Features -->
            <SectionContainer id="testimonials" class="benefits">
                <BadgeGroup alignment="left">
                    <BadgeMessage>Testimonials</BadgeMessage>
                    <BadgeIcon icon="twemoji:waving-hand" />
                </BadgeGroup>
                <PageTitle class="" type="default">
                    This is what our customers have to say about SmartShovel
                </PageTitle>
                <Column columnData={testimonialData} />
            </SectionContainer>
            <!-- Testimonials -->
<SectionContainer id="faq" class="faq">
                <BadgeGroup alignment="center">
                    <BadgeMessage>FAQ</BadgeMessage>
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    Got some burning questions about SmartShovel?
                    <br />
                    <br />
                    Dig deeper here
                </PageTitle>
                <Accordion accordionData={faqData} />
            </SectionContainer>
        </SectionContainer>
    </div>
    <!-- FAQ -->
</Layout>
<!-- Components Container -->
